<h1 class="text-center">User Login</h1>

<body>
	<div class="text-center bi-eye-fill">
    <%= form_with url: login_path, method: :post  do |form| %>
			<%= form.label :email, "Email" %><br>
			<%= form.text_field :email %> <br><br>
			<%= form.label :password, "Password" %><br>
			<%= form.password_field :password %><br><br>
			<%= form.submit "Submit" %>
		<% end %>
	</div>
</body>