<h1 class="text-center">Artist Registration</h1>

<body>
  <div class="text-center bi-eye-fill">
    <%= form_with url: artists_path, method: :post, local: true do |form| %>
      <%= form.label :name, "Name" %><br>
      <%= form.text_field :name %><br>

      <%= form.label :email, "Email" %><br>
      <%= form.text_field :email %><br>

      <%= form.label :password, "Password" %><br>
      <%= form.password_field :password %><br>

      <%= form.label :confirm_password, "Confirm Password" %><br>
      <%= form.password_field :confirm_password %><br>

      <%= form.label :pricing, "Pricing" %><br>
      <%= form.text_field :pricing %><br><br>
          <h3>Styles</h3><br>
        <div class="container p-1 bg-dark text-center">
          <% styles = ["Watercolor", "American Traditional", "Geometric", "Script", "Black and Gray", "Realism", "Tribal", "Chicano", "Irezumi", "New School"]%>
          <% styles.each do |styles| %>
            <%= form.label styles, styles %>
            <%= form.check_box :styles, { multiple: true }, styles, false %><br>
          <% end %>
        </div>
        <br>
      <%= form.submit "Register Artist", class: "btn btn-primary" %>
    <% end %>
  </div>
</body>