<h1>Artist Registration</h1>

<%= form_with url: artists_path, method: :post, local: true do |form| %>
  <%= form.label :name, "Name" %>
  <%= form.text_field :name %><br>

  <%= form.label :email, "Email" %>
  <%= form.text_field :email %><br>

  <%= form.label :password, "Password" %>
  <%= form.password_field :password %><br>

  <%= form.label :confirm_password, "Confirm Password" %>
  <%= form.password_field :confirm_password %><br>

  <%= form.label :pricing, "Pricing" %>
  <%= form.text_field :pricing %><br>

  <h3>Styles</h3>
  
  <% styles = ["Watercolor", "American Traditional", "Geometric", "Script", "Black and Gray", "Realistic", "Tribal", "Chicano", "Irezumi", "New School"]%>
  <% styles.each do |styles| %>
    <%= form.label styles, styles %>
    <%= form.check_box :styles, { multiple: true }, styles, false %>
  <% end %><br>
  <%= form.submit "Register Artist" %>
<% end %>