<h1>User Registration</h1>

<%= form_with url: users_path, method: :post, local: true do |form| %>
  <%= form.label :name, "Name" %>
  <%= form.text_field :name %><br>

  <%= form.label :email, "Email" %>
  <%= form.text_field :email %><br>

  <%= form.label :password, "Password" %>
  <%= form.password_field :password %><br>

  <%= form.label :confirm_password, "Confirm Password" %>
  <%= form.password_field :confirm_password %><br>

  <%= form.submit "Register User" %>
<% end %>

<% button_to "Register with Google", "/auth/google_oauth2" %>