<h1>User Dashboard</h1>

<h3>Search for Shops</h3>
<%= form_with url: user_search_index_path(params[:id]), method: :get, local: true do |form| %>
  <%= form.label :city, "City" %>
  <%= form.text_field :city %>
  <%= form.submit "Start Search" %>
<% end %>

<h3>Find Artists By Style</h3>
<%= form_with url: artists_path, method: :get, local: true do |form| %>
  <%= form.label :style, "Style" %>
  <%= form.select :style, ["Watercolor", "American Traditional", "Geometric", "Script", "Black and Gray", "Realistic", "Tribal", "Chicano", "Irezumi", "New School"] %>
  <%= form.submit "Start Search" %>
<% end %>



<h3>Discover Tattoos</h3>
<%= form_with url: user_discover_index_path(params[:id]), method: :get, local: true do |form| %>
  <%= form.label :discover %><br>
  <%= form.select :discover, ["Watercolor", "American Traditional", "Geometric", "Script", "Black and Gray", "Realistic", "Tribal", "Chicano", "Irezumi", "New School"] %>
  <%= form.submit "Search" %>
<% end %>