<h1>InkLink Home</h1>
 
<%= button_to "Artist Register", new_artist_path, method: :get %>
<%= button_to "User Register", new_user_path, method: :get %>

<% if session[:user_id] %>
  <%= button_to "Logout", logout_path, method: :delete %>
  <% else %>
  <%= button_to "Login", login_path, method: :get%>
  <%= link_to "Sign in with Google", "/auth/google_oauth2", class: "btn btn_blue" %>
<% end %>